

#imagens{
    float: left;
    padding: 10px;
    background-color: #f1f1f1;
    height: 99px;
    margin-left: 10px;
}
article{
    float: left;
    padding: 20px;
    width: 60%;
    background-color: #f1f1f1;
    height: 100px;
    border-bottom: 1px solid black;
}
section::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    color: white;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 18px;
}